<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminObj</servlet-name>
        <servlet-class>DataObj.AdminObj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersObj</servlet-name>
        <servlet-class>DataObj.OrdersObj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdObj</servlet-name>
        <servlet-class>DataObj.ProdObj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAddressServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.ChangeAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncerDecerServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.IncerDecerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>com.javapro1.servlet.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminObj</servlet-name>
        <url-pattern>/AdminObj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersObj</servlet-name>
        <url-pattern>/OrdersObj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdObj</servlet-name>
        <url-pattern>/ProdObj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/BuyNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAddressServlet</servlet-name>
        <url-pattern>/ChangeAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncerDecerServlet</servlet-name>
        <url-pattern>/inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
